image: golang:1.7
service:
  - docker:dind
stages:
  - build
  - docker_build
  - deploy

compile:
  stage: build
  before_script:
    - go get github.com/BurntSushi/toml
    - go get github.com/line/line-bot-sdk-go/linebot
  script:
    - go build lulbot.go
  artifacts:
    untracked: true
    expire_in: 12h
  only:
    - master

dockerize:
  stage: docker_build
  script:
    - docker login -u gitlab-ci-token -p $CI_BUILD_TOKEN registry.gitlab.com
    - docker build -t registry.gitlab.com/raymoo42/lulbot .
    - docker push registry.gitlab.com/raymoo42/lulbot
  only:
    - master
  tags:
    - docker

deployment:
  stage: deploy
  script:
    - echo "i tried"
  environment: droplet